
body {
    text-align: center;
    background-color: bisque;
    font-size: 20px;
}

.h1 {
    text-align: center;
}

input {
    width: 300px;
    padding: 5px;
    margin: 10px;
    background-color: blanchedalmond;
    border: solid 2px rgb(227, 155, 82);
    border-radius: 3px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: blanchedalmond;
    border: solid 2px rgb(227, 155, 82);
    border-radius: 3px;
    text-align: justify;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: rgb(227, 155, 82);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

input[type=checkbox] {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
